<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><i class="fa fa-regular fa-calendar me-1"></i>EventUSApp</h4>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Navigation</h4>
                <ul>
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="view-users">Users</a></li>
                    <li><a href="">Events</a></li>
                    <li><a href="">Profile</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>