<div class="bg-image">
    <div id="content-top" class="container">
        <h1>Organize your events.</h1>
        <h3>Keep track of what's happening. Plan your events for success.</h3>
        <button class="btn btn-large btn-success">Get started now</button>
    </div>
</div>

<!-- How to change bootstrap theme? -->
<!-- Don't forget about footer color, maybe change to bootstrap? -->

<!-- <div class="div-1">
    <div class="bg-image"></div>
    <div class="container">
        <div class="content-top">
            <h1>Organize your events.</h1>
            <h3>Keep track of whatever's happening. Plan your events for success.</h3>
            <button class="btn btn-large btn-success">Get started now</button>
        </div>
    </div>
</div> -->