<!-- Use a bootstrap card? -->
<div class="container">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm" (submit)="editSubmit()" autocomplete="off">
        <div class="form-group">
            <label>First Name: <input formControlName="firstName" placeholder="First Name"></label>
        </div>
        <div class="form-group">
            <label>Last Name: <input formControlName="lastName" placeholder="Last Name"></label>
        </div>
        <div class="form-group">
            <label>User Name: <input formControlName="userName" placeholder="UserName"></label>
        </div>
        <div class="form-group">
            <label>Email: <input formControlName="email" placeholder="Email"></label>
            <span *ngIf="f['email'].getError('pattern')!=null" class="errorMessage">Invalid Email</span>
        </div>

        <button class="btn btn-primary">Update</button>
    </form>
    <br>
    <div *appHasRole="['Admin']">
        <div *ngIf="userIdParam != (appUserService.currentUser$|async).id">
            <div class="" *ngFor="let role of accountRoles">
                <button class="btn btn-danger" (click)="revokeRole(role.name)">x {{role}}</button>
            </div>
            <div class="">
                <button [disabled]="accountRoles.length >= 2" class="btn btn-primary">Add role
                    (should be a dropdown +
                    button)
                    <i class="fa fa-solid fa-circle-plus"></i></button>
            </div>
        </div>
    </div>


</div>