<!-- Use a bootstrap card? -->
<div class="container">
    <h2 class="text-center">Edit User</h2>
    <form [formGroup]="editForm" (submit)="editSubmit()" autocomplete="off">
        <div class="form-group">
            <label>First Name: <input formControlName="firstName" placeholder="First Name"></label>
        </div>
        <div class="form-group">
            <label>Last Name: <input formControlName="lastName" placeholder="Last Name"></label>
        </div>
        <div class="form-group">
            <label>User Name: <input formControlName="userName" placeholder="UserName"></label>
        </div>
        <div class="form-group">
            <label>Email: <input formControlName="email" placeholder="Email"></label>
            <span *ngIf="f['email'].getError('pattern')!=null" class="errorMessage">Invalid Email</span>
        </div>

        <button class="btn btn-primary">Update</button>
    </form>
    <br>
    <div *appHasRole="['Admin']">
        <div *ngIf="userIdParam != (appUserService.currentUser$|async).id">
            <!-- Display account roles -->
            <ul class="">
                <b>Roles:</b>
                <div *ngFor="let accountRole of appUserToBeEdited_Roles">
                    <li>{{accountRole}}</li>
                </div>
                <!-- <button class="btn btn-danger" (click)="revokeRole(accountRole.name)">x {{accountRole}}</button> -->
            </ul>
            <!-- Split dropend button -->
            <div class="btn-group dropend">
                <button [disabled]="appUserToBeEdited_Roles.length <= 0" type="button" class="btn btn-primary">
                    Revoke role
                </button>
                <button [disabled]="appUserToBeEdited_Roles.length <= 0" type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropend</span>
                </button>
                <ul class="dropdown-menu">
                    <div *ngFor="let accountRole of allAssignableRoles">
                        <!-- Dropdown menu links -->
                        <li class="dropdown-item" (click)="revokeRole(accountRole.name)">{{accountRole.name}}</li>
                    </div>
                </ul>
            </div>

            <!-- Split dropend button -->
            <div class="btn-group dropend">
                <button [disabled]="appUserToBeEdited_Roles.length >= 2" type="button" class="btn btn-primary">
                    Add role
                </button>
                <button [disabled]="appUserToBeEdited_Roles.length >= 2" type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropend</span>
                </button>
                <ul class="dropdown-menu">
                    <div *ngFor="let accountRole of allAssignableRoles">
                        <!-- Dropdown menu links -->
                        <li class="dropdown-item" (click)="addUserToRole(accountRole.name)">{{accountRole.name}}</li>
                    </div>
                </ul>
            </div>

        </div>
    </div>


</div>