<div class="container mt-2">
    <button class="btn btn-secondary" (click)="clearCurrentEvent()">
        << Back to event dashboard</button>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-12 col-md-4 mb-4 mb-md-0">
            <app-event-card [eventDetails]="eventDetails"></app-event-card>

            <button class="btn btn-warning mt-2 col-6 mx-auto" (click)="initEditEvent()">Edit this event</button>
        </div>

        <div class="col-12 col-md-8">
            <h2>Attendees:</h2>
            <hr>

            <div style="height: 35rem; overflow-y: auto;">
                <div class="card" *ngFor="let attendee of attendees">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid width:100%;
                                        max-width:170px;" src="{{defaultImg}}" alt="image">
                        </div>
                        <div class="col-md-4">
                            <h4 class="mt-2">{{attendee.appUser.userName}}</h4>
                            <h6>{{attendee.appUser.firstName}} {{attendee.appUser.lastName}}</h6>
                            <h6>{{attendee.appUser.email}}</h6>
                            <div class="mt-4">

                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-danger"
                                        (click)="removeAttendeeFromEvent(attendee.id)">Remove</button>
                                    <button type="button" class="btn btn-primary">Message</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 height: 1rem; overflow-y: auto;">
                            <div *ngFor="let checkListItem of attendee.checkListItems">
                                <p>
                                    <a (click)="checkBox(true, checkListItem)"><i class="fa fa-solid fa-square me-1"
                                            *ngIf="!checkListItem.isChecked"></i> </a>
                                    <a (click)="checkBox(false, checkListItem)"><i class="fa fa-solid fa-check me-1"
                                            *ngIf="checkListItem.isChecked"></i> </a>
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        (click)="initCheckListItem(attendee.id, checkListItem)">{{checkListItem.description}}</a>
                                </p>
                                <hr>
                            </div>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="initCheckListItem(attendee.id)">
                                + Add checklist Item
                            </button>

                            <!-- Modal -->
                            <form class=" modal fade" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" [formGroup]="checkListItemForm"
                                (submit)="submitCheckListItemForm()" autocomplete="off">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"
                                                *ngIf="(checkListItemForm.value.id > 0)">Update checklist item
                                            </h5>
                                            <h5 class="modal-title" id="exampleModalLabel"
                                                *ngIf="(checkListItemForm.value.id <= 0)">Create new checklist item
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="input-group mb-4" [hidden]="true">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-user" aria-hidden="true"></span>
                                                    </span>
                                                    <input class="form-control" formControlName="id" placeholder="id">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group mb-4" [hidden]="true">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-user" aria-hidden="true"></span>
                                                    </span>
                                                    <input class="form-control" formControlName="isChecked"
                                                        placeholder="isChecked">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group mb-4" [hidden]="false">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-user" aria-hidden="true"></span>
                                                    </span>
                                                    <input class="form-control" formControlName="description"
                                                        placeholder="description">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group mb-4" [hidden]="true">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-user" aria-hidden="true"></span>
                                                    </span>
                                                    <input class="form-control" formControlName="attendeeId"
                                                        placeholder="attendeeId">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                                (click)="submitCheckListItemForm()">Save changes</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                (click)="removeCheckListItem(checkListItemForm.value)"
                                                *ngIf="(checkListItemForm.value.id > 0)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>