<div id="dashboard-events" class="container smooth-transition"
    *ngIf="(currentEvent == null) && (isCreatingNewEvent == false)">
    <div class="row">
        <h1>Your Events</h1>
        <div><button class="btn btn-info" (click)="switchFormState(true)">+ Create a new event</button></div>
    </div>
    <hr>

    <div style="height: 43rem; overflow: auto;">

        <!-- <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1472653431158-6364773b2a56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Awesome Interview</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Your event</li>
                <li class="list-group-item">Location: <span class="badge text-bg-primary">Online</span></li>
                <li class="list-group-item">(Event in progress...)
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width: 75%"></div>
                    </div>
                </li>
            </ul>
            <div class="card-body">
            </div>
        </div> -->

        <div class="row" *ngFor="let event of (events$|async)">
            <app-event-card class="" [eventDetails]="event" (sentEventDetails)="setCurrentEvent($event)"
                (deleteEventId)="removeEvent($event)"></app-event-card>
        </div>
    </div>
</div>

<!-- Current event component opens when an event is choosen -->
<div *ngIf="(currentEvent != null) && (isCreatingNewEvent == false)">
    <app-event-view [eventDetails]="currentEvent" (sentEventDetails)="updateCurrentEvent($event)"
        (isFormActive)="switchFormState($event)"></app-event-view>
</div>
<!-- <span class="badge text-bg-primary">Owner</span> -->
<div *ngIf="(isCreatingNewEvent == true)">
    <app-event-form [currentUser]="loggedInUser" [inputEvent]="currentEvent" (isFormActive)="switchFormState($event)"
        (sentEventDetails)="getUserEvents()">
    </app-event-form>
</div>