.img {
    border-radius: 2%;
}

#dashboard-events {
    animation: slide-up 0.9s;
}

@keyframes slide-up {
    from {
        opacity: 0;
        line-height: 100px;
    }

    to {
        opacity: 1;
        line-height: 25px;
    }
}