<div class="card m-5" style="width:18rem" *ngIf="appUser">
    <ul class="list-group">
        <li class="list-group-item">{{appUser.firstName}} {{appUser.lastName}}</li>
        <li class="list-group-item">{{appUser.userName}}</li>
        <li class="list-group-item">{{appUser.email}}</li>
        <li class="list-group-item">(City), (State)</li>
    </ul>
</div>

<!-- <div class="container">
    <div *ngIf="appUser">
        <div>{{appUser.firstName}}</div>
        <div>{{appUser.lastName}}</div>
        <div>{{appUser.userName}}</div>
        <div>{{appUser.email}}</div>
        <div>(City), (State)</div>
    </div>
</div> -->