<div class="space-top">
    <div class="container">
        <div class="row">
            <!-- Left side start -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <!-- Profile card start -->
                <div class="card mb-4" style="width: 18rem;">
                    <img src="{{profileImgUrl}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5><b>{{profileUser.userName}}</b></h5>
                        <h6>{{profileUser.firstName}} {{profileUser.lastName}}</h6>
                        <h6>{{profileUser.email}}</h6>
                        <div>
                            <!-- Badge indicating current user is either a friend or is you -->
                        </div>
                        <button class="btn btn-sm btn-warning me-2" routerLink="/edit-user/{{loggedInUser.id}}"
                            *ngIf="(profileUser.id == loggedInUser.id)">
                            <i class="fa fa-edit me-2"></i>Edit</button>
                        <div *ngIf="(profileUser.id != loggedInUser.id) && !(html_IsAlreadyAdded(profileUser.id))">
                            <button class="btn btn-primary"><i class="fa fa-solid fa-user-plus"></i> Add user</button>
                        </div>
                    </div>
                </div>
                <!-- Profile card end -->
                <!-- Message list start -->
                <div class="card" style="width: 18rem;" *ngIf="(profileUser.id == loggedInUser.id)">
                    <div class=" card-header d-flex fustify-content-between">
                        <div>
                            <h6>Recent Messages</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">SomeUser69: Waasssaaappp</li>
                            <li class="list-group-item">ExampleUser: (the most recent message of a message thread)</li>
                        </ul>
                    </div>
                </div>
                <!-- Message list end -->
            </div>
            <!-- Left side end -->
            <!-- Right side start -->
            <div class="col-12 col-md-8">
                <div>
                    <div id="event-invite-list"
                        *ngIf="html_IsAlreadyAdded(profileUser.id) && !(profileUser.id == loggedInUser.id)">
                        <h2>Invite
                            to
                            event:</h2>
                        <hr>
                    </div>

                    <div id="saved-users-list" *ngIf="(profileUser.id == loggedInUser.id)">
                        <h2>Saved Users:</h2>
                        <hr>
                        <div style="height: 35rem; overflow-y: auto;">
                            <!-- (List of saved users) -->
                            <div class="card" *ngFor="let user of alreadyAddedUsers">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-fluid " style="width:100%;
    max-width:170px;" src="{{defaultImg}}" alt="image">
                                    </div>
                                    <div class="col-md-8">
                                        <h4 class="mt-2">{{user.userName}}</h4>
                                        <h6>{{user.firstName}} {{user.lastName}}</h6>
                                        <h6>{{user.email}}</h6>
                                        <div class="mt-4">

                                            <div class="btn-group" role="group"
                                                aria-label="Button group with nested dropdown">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="removeUser(user.userConnectionId, user.id)">Remove</button>
                                                <button type="button" class="btn btn-primary">Message</button>

                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Invite to:
                                                    </button>
                                                    <!-- <ul class="dropdown-menu" *ngFor="let userEvent of (events$|async)"> -->
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item"
                                                            (click)="inviteToEvent(user.id, userEvent.id)"
                                                            *ngFor="let userEvent of (events$|async)">
                                                            {{userEvent.title}}</li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Right side end -->
        </div>
    </div>
</div>